<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AllProducts" type="ExerciseDB.ProductsConfigSection, ExerciseDB" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ItemsDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|ExerciseDB.mdf;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="name_of_XML" value="items.xml" />
    <add key="connectionType" value="DB" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <AllProducts>
    <Products>
      <add productType="Brownie" hind="0,65" kogus="48" />
      <add productType="Muffin" hind="1,00" kogus="36" />
      <add productType="Cake Pop" hind="1,35" kogus="24" />
      <add productType="Water" hind="1,50" kogus="30" />
    </Products>
  </AllProducts>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>